body {
    margin: 60px auto;
    width: 70%;
    /*background-image: linear-gradient( to right, #d01818, white 85% );*/
    background-image: url(/images/utah.jpg);
    background-color: #4a1a1a;
    /*background-size: cover;*/
    background-repeat: no-repeat;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    /*color: #333;*/
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.blurb {
  display: -webkit-inline-box;
}

ul#menu li {
    font-size: 36px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.personal-info {
  color: antiquewhite;
  display: -webkit-box;
}

.textual_info {
  margin: 0px 10px 0px 10px;
}
.textual_info p {
  font-size: 20px;
  margin-top:auto;
}
.textual_info h2 {
  margin-bottom:auto;
}

.profile_img {
  width:300px;
}
/*.red-orange-brown {
  background-image: linear-gradient(to right, red, orange 50%, brown);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.green-yellowgreen-yellow-gold {
  background-image: linear-gradient(to right, green, yellowgreen 33%, yellow 66%, gold);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}*/
