<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="/images/titanic.png" alt="sinking ship" style="width:100px;"></a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jrbelyeu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jonbelyeu">github.com/jonbelyeu</a></li>
				</ul>
			</footer>
		</body>
	</html>
